@media (max-width: 768px) {}

    
body {
    background-image: url('background6.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin: 20px;
    
}

li {
    display: inline-block;
    background-color: #cc7dcb;
    height: 40px;
    border: 2px dashed white;
    
}

li a {
    color: white;
    padding: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
} 

li:hover {
    background-color: #aa38a8;
    font-style: italic;
}

img {
    width: auto;
    height: 300px;
    padding: 4px;

}

iframe {
    width: 600px;
    height: 360px;
    padding: 4px;
}

.gif {
    height: 400px;
    width: auto;
    border: 2px white dotted;
}

video {
    width: 500px;
    height: auto;
    padding: 4px;
    display: inline-block;
}

.plitvice {
    height: 400px;
    width: auto;
    border: 2px white dotted;
    padding-left: 4px;
}

p {
    font-size: 17px;
    color: #cc7dcb;
    border: 2px white dotted;
    display: block;
    background-color: rgba(255, 255, 255, 0.7);
    height: 70px;
    border: 2px dashed #cc7dcb;
    width: 340px;
}

audio {
    border: 2px dashed #cc7dcb;
    background-color: rgb(255, 255, 255);
}

.spot {
    width: 900px;
    height: 150px;
}

h1 {
    font-size: 25px;
    color: #cc7dcb;
    border: 2px white dotted;
    display: block;
    background-color: rgba(255, 255, 255, 0.7);
    height: 70px;
    border: 2px dashed #cc7dcb;
    width: 340px;

}

.frog {
    height: 400px;
    width: 400px;
    background-image: url('frog.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.frog:hover {
    height: 400px;
    width: 400px;
    background-image: url('kitty.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px white dotted;
}

.duck {
    height: 400px;
    width: 400px;
    background-image: url('duck wallpaper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 2225px;
    margin-left: 404px;
}

.duck:active {
    height: 400px;
    width: 400px;
    background-image: url('ghosts.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px white dotted;

}

.souls {
    height: 400px;
    width: 400px;
    background-image: url('two_souls.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 2225px;
    margin-left: 808px;
}

.souls:hover {
    height: 400px;
    width: 400px;
    background-image: url('moon.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px white dotted;
    transition: 3s ease-out;
    -webkit-transition: 3s ease-out;
}

.fairy {
    height: 600px;
    width: 400px;
    background-image: url('fairy.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 2629px;
}

.fairy:active {
    height: 600px;
    width: 400px;
    background-image: url('fairy.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px white dotted;
    position: absolute;
    top: 2529px;
    margin-left: 100px;
    transform: rotate(-90deg);
}