@media (max-width: 768px) {}

    
body {
    background-image: url('background6.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin: 20px;
    
}

li {
    display: inline-block;
    background-color: #cc7dcb;
    height: 40px;
    border: 2px dashed white;
    
}

li a {
    color: white;
    padding: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
} 

li:hover {
    background-color: #aa38a8;
    font-style: italic;
}

img {
    width: auto;
    height: 300px;
    padding: 4px;

}

.flowers {
    width: auto;
    height: 300px;
    padding: 4px;
    margin-left: 140px;

}

iframe {
    width: 600px;
    height: 360px;
    padding: 4px;
}

.gif {
    height: 400px;
    width: auto;
    border: 2px white dotted;
}

video {
    width: 500px;
    height: auto;
    padding: 4px;
    display: inline-block;
}

.plitvice {
    height: 400px;
    width: auto;
    border: 2px white dotted;
    padding-left: 4px;
}

p {
    font-size: 17px;
    color: #cc7dcb;
    border: 2px white dotted;
    display: block;
    background-color: rgba(255, 255, 255, 0.7);
    height: 70px;
    border: 2px dashed #cc7dcb;
    width: 340px;
}

audio {
    border: 2px dashed #cc7dcb;
    background-color: rgb(255, 255, 255);
}

.spot {
    width: 900px;
    height: 150px;
}

h1 {
    font-size: 25px;
    color: #cc7dcb;
    border: 2px white dotted;
    display: block;
    background-color: rgba(255, 255, 255, 0.7);
    height: 70px;
    border: 2px dashed #cc7dcb;
    width: 340px;

}

.frog {
    height: 400px;
    width: 400px;
    background-image: url('frog.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.frog:hover {
    height: 400px;
    width: 400px;
    background-image: url('kitty.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px white dotted;
}

.duck {
    height: 400px;
    width: 400px;
    background-image: url('duck wallpaper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 2225px;
    margin-left: 404px;
}

.duck:active {
    height: 400px;
    width: 400px;
    background-image: url('ghosts.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px white dotted;

}

.souls {
    height: 400px;
    width: 400px;
    background-image: url('two_souls.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 2225px;
    margin-left: 808px;
}

.souls:hover {
    height: 400px;
    width: 400px;
    background-image: url('moon.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px white dotted;
    transition: 3s ease-out;
    -webkit-transition: 3s ease-out;
}

.fairy {
    height: 600px;
    width: 400px;
    background-image: url('fairy.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 2629px;
}

.fairy:active {
    height: 600px;
    width: 400px;
    background-image: url('fairy.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px white dotted;
    position: absolute;
    top: 2529px;
    margin-left: 100px;
    transform: rotate(-90deg);
}

.a1 {
    height: 150px;
    width: 150px;
    background-image: url('sparkles.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    margin-left: 950px;
    top: 50px;
    animation: a1 1s linear infinite alternate;

}

@keyframes a1 {
    from {height: 150px;
          width: 150px;}
    to {height: 160px;
        width: 160px;}
  
}

.a2 {
    height: 120px;
    width: 120px;
    background-image: url('sparkles.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    margin-left: 10px;
    top: 1800px;
    animation: a2 1s linear infinite alternate;

}

.a3 {
    height: 120px;
    width: 120px;
    background-image: url('sparkles.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    margin-left: 610px;
    top: 2000px;
    animation: a2 1s linear infinite alternate;

}

@keyframes a2 {
    from {height: 120px;
          width: 120px;}
    to {height: 100px;
        width: 100px;}
}

.a4 {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background-image: url('animation.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: fixed;
    margin-left: 1300px;
    animation: a4 2s linear infinite alternate;

}

@keyframes a4 {
  0% {top: 300px;}
  50% {background-color: rgba(255, 255, 255, 0.3);
       }
  100% {top: 320px;}
}